*{
    box-sizing: border-box;
}
body {
    background-color: grey;
    margin: 0;
}
#wrapper {
    position: relative;
    overflow-x: hidden;
}
::selection {
    color: white;
    background-color: black;
}
.header {
    height: 180px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.box-header{
    padding: 50px;
}
.box-header h1 {
    -webkit-animation: blink5 1s linear infinite;
    animation: blink5 1s linear infinite;
    font-family: "AzeretMonoBlackItalic", monospace;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}
@-webkit-keyframes blink5 {
    0% { color: rgb(117, 224, 107); }
    50% { color: rgb(145, 255, 0); }
    100% { color: rgb(243, 146, 0); }
}
@keyframes blink5 {
    0% { color: rgb(117, 224, 107); }
    50% { color: rgb(145, 255, 0); }
    100% { color: rgb(243, 146, 0); }
}
.aside {
    direction: rtl;
    overflow: scroll;
    background-color: chocolate;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
}
.box-aside {
    height: 1492px;
    width: 282px;
    padding: 5px;
    border: 3px hidden black;
    color: whitesmoke;
}
.box-aside h2 {
    font-family: "AzeretMonoBlack", monospace;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    color: whitesmoke;
    text-align: center;
}
.box-aside p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    padding-left: 5px;
    text-align: left;
}
.box-aside p::first-line {
    color: brown;
}
.main {
    height: 100%;
    width: 80%;
    font-family: "AzeretMono", monospace;
}
.section1 {
    height: 500px;
    background-color: rgb(58, 58, 58);
    margin: 5px 5px;
}
.box1-section1 {
    height: 250px;
    padding: 14px;
    border: 1px solid rgb(58, 58, 58);
}
.boxtext1-section1 {
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    color: chocolate;
    text-align: center;
}
.boxtext1-section1 sub {
    vertical-align: sub;
    font-size: 1.8rem;
}
.boxtext1-section1 sup {
    vertical-align: 5px; 
    font-size: 1.6rem;
}
.box1-section1 p {
    font-family: "AzeretMono", monospace;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
}
.box2-section1 {
    height: 250px;
    padding: 14px;
    border: 1px solid rgb(58, 58, 58);
}
.box2-section1 h2 {
    font-family: "AzeretMono", monospace;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 30px;
    color: black;
    text-align: center;
}
.box2-section1 ul {
    list-style: square outside;
    padding-left: 30px;
}
.box2-section1 li {
    padding: 10px;
}
.box2-section1 a {
    font-family: "AzeretMono", monospace;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: rgb(194, 86, 10);
    pointer-events: auto;
}
.section2 {
    height: 500px;
    background-color: rgb(58, 58, 58);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: auto;
}
.section2:hover {
    background-color: chocolate;
}
.box1-section2 {
    height: 100px;
    padding: 15px;
    border: none;
}
.box1-section2 h2 {
    font-family: "AzeretMono", monospace;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 30px;
    color: black;
    text-align: center;
}
.box1-section2 h2::after {
    content: "!";
    color: brown;
}
.box1-section2 h2::before {
    content: "!";
    color: brown;
}
.box2-section2 {
    height: 400px;
    padding: 15px;
    border: none;
    word-wrap: break-word;
}
.text-section2 {
    font-family: "AzeretMonoThin", monospace;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    color: black;
    text-indent: 40px;
    letter-spacing: 5px;
    word-spacing: 15px;
    line-height: 1.7;
}
p.text-section2::first-letter {
    color: brown;
    font-size: 30px;
}
.section3 {
    height: 500px;
    background-color: rgb(58, 58, 58);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.box1-section3 {
    width: 300px;
    height: 100px;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 2s ease-out;
    transition: width 2s;
}
.box1-section3:hover {
    background-color: red;
    width: 600px;
    cursor: pointer;
}
.photo {
    height: 120px;
    padding: 15px;
    border: none;
}
.photo h2 {
    font-family: "AzeretMono", monospace;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 30px;
    color: black;
    text-align: center;
}
.photo img {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: 3px solid rgb(0, 0, 0);
    background: chocolate;
    object-fit: contain;
    float: left;
}
.atom {
    height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.atom img {
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.atom img:hover {
    transform: rotate(360deg);
    cursor: pointer;
}
.footer {
    background-color: black;
    height: 200px;
    width: 100%;
}
.box-footer {
    padding: 20px;
    border: 1px solid black;
}
.box-footer p {
    font-family: "AzeretMonoBlack", monospace;
    font-size: 100px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    letter-spacing: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.box-footer p::after {
    content: ">";
    font-size: 100px;
    color: red;
}
.box-footer p::before {
    content: "<";
    font-size: 100px;
    color: red;
}
.box-footer p:hover {
    color: red;
}