@font-face {
    font-family: "PoppinsRegular", sans-serif;
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "PoppinsBold", sans-serif;
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
}