@import "reset";
@import "fonts";

$darckgrey: #323232;
$orange: #F78434;

* {
    box-sizing: border-box;
}

input {
    font-family: inherit;
    outline: none;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        max-width: 90%;
    }
}

.grey-color {
    position: absolute;
    width: 100%;
    height: 704px;
    background-color: #F5F6FA;
    z-index: -1;
    top: 1970px;

    @media (max-width: 1184px) {
        display: none;
    }

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;

    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.navbar-list {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        gap: 7px;
    }

    &-item {
        margin-left: 42px;

        @media (max-width: 992px) {
            margin: 0 20px;
        }

        a {
            color: $darckgrey;
            text-decoration: none;
        }

        &.active {
            a {
                color: $orange;
                font-weight: 700;
            }
        }
    }
}

.main-heading {
    color: $darckgrey;
    font-size: 54px;

    @media (max-width: 768px) {
        font-size: 30px;
    }
}

.section-heading {
    font-size: 42px;
    margin: 0;
}

.intro-sect {
    .main-heading {
        width: 680px;
        position: relative;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            width: auto;
        }
    }

    .intro-row {
        display: flex;
        align-items: center;

        @media (max-width: 576px) {
            flex-direction: column-reverse;
        }
    }

    .col-1 {
        //flex-basis: 52%;
        max-width: 52%;
    }

    .col-2 {
        //flex-basis: 48%;
        max-width: 48%;
    }

    @media (max-width: 576px) {
        .col-1, .col-2 {
            max-width: 100%;
        }
    }

    .intro-form {
        overflow: hidden;
        width: 460px;
        position: relative;
        margin-top: 40px;

        @media (max-width: 576px) {
            width: 100%;
        }

        &-input {
            border: 0;
            box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
            border-radius: 29px;
            padding: 20px 30px 20px 65px;
            width: 100%;

            &::placeholder {
                color: #BBBBBB;
            }

            @media (max-width: 480px) {
                padding-left: 30px;
            }
        }

        &::before {
            content: "";
            background-image: url(/img/Icon.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: inline-block;
            width: 25px;
            height: 20px;
            position: absolute;
            left: 28px;
            top: 50%;
            transform: translateY(-50%);

            @media (max-width: 480px) {
                display: none;
            }
        }

        .btn {
            position: absolute;
            right: 0;
            height: 100%;
        }
    }

    .intro-img {
        @media (max-width: 1200px) {
            max-width: 40vw;
        }
    }
}

.btn {
    display: inline-block;
    background-color: $orange;
    color: white;
    font-weight: 700;
    padding: 18px 35px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.logo-sect {

    .box-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 99px;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            
            img {
                padding-top: 40px;
                width: 300px;
            }
        }
    }
}

.space-sect {
    margin-top: 100px;

    &-row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1200px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        .col-1 {
            position: relative;
            max-width: 60%;
            max-height: 550px;
            display: flex;
            justify-content: space-between;
            font-family: Poppins;

            @media (max-width: 1200px) {
                max-width: 100%;
            }

            .col-img1 {
                height: 550px;
                width: 386px;
                margin-right: 35px;
                margin-left: -165px;
            }

            .col-img2 {
                height: 550px;
                width: 386px;
                margin-right: 45px;
            }

            &-box {
                position: absolute;
                background: white;
                box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
                border-radius: 15px;
                display: flex;
                justify-content: space-between;
                bottom: 87px;
                right: 0;

                .box-img {
                    margin: 48px 20px 48px 29px;
                }

                .col-text {
                    margin-top: 32px;
                    margin-bottom: 32px;
                    margin-right: 29px;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 27px;
                    letter-spacing: 1.15px;
                    color: #323232;
                }
            }
        }

        .col-2 {
            max-width: 40%;
            max-height: 550px;
            display: flex;
            flex-direction: column;

            @media (max-width: 1200px) {
                max-width: 100%;
            }

            .title-space {
                margin-top: 80px;
                margin-left: 80px;
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 42px;
                line-height: 62px;
                letter-spacing: 0.8px;
                color: #323232;

                @media (max-width: 1200px) {
                    margin: 0;
                }

                @media (max-width: 768px) {
                    font-size: 32px;
                }
            }

            .col-text {
                margin-top: 10px;
                margin-left: 80px;
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 1.15px;
                color: #323232;

                @media (max-width: 1200px) {
                    margin: 20px 0 0 0;
                }
            }

            .form-col {
                margin-left: 80px;
                margin-top: 30px;

                @media (max-width: 1200px) {
                    margin: 30px 0 30px 0;
                }
            }
        }
    }
}

.image-section {
    position: relative;

    .bg-box {
        display: flex;
        position: relative;
        margin: 145px 0 0 0;
        background-color: #58BEBF;
        border-radius: 20px;

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column-reverse;
        }

        .oval1 {
            position: absolute;
            top: 0;
            right: 0;
        }

        .oval2 {
            position: absolute;
            bottom: 0;
            left: calc(100% - 50% - 152px);
        }

        .left-box-img {
            min-width: 50%;
            margin-top: 60px;
            background-color: #ffffff;
            padding-right: 25px;
            padding-top: 25px;
            border-radius: 0 25px 0 0;

            @media (min-width: 768px) and (max-width: 1120px) {
                margin-top: 20%;
                margin-bottom: 20%;
                padding-top: 20%;
                padding-bottom: 20%;
                border-radius: 0 25px 25px 0;
            }

            @media (max-width: 767px) {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px;
                padding: 20px;
                border-radius: 25px;
            }
        }

        .right-box {
            min-width: 50%;

            .title-rbox {
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 42px;
                line-height: 62px;
                padding: 92px 117px 15px 96px;
                color: #ffffff;

                @media (max-width: 768px) {
                    font-size: 32px;
                }
            }

            .text-rbox {
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 27px;
                color: #ffffff;
                padding: 0 117px 30px 96px;
            }

            .form-rbox {
                display: flex;
                margin-left: 96px;

                @media (min-width: 768px) and (max-width: 1120px) {
                    flex-direction: column;
                }

                @media (max-width: 580px) {
                    flex-direction: column;
                    margin-left: 0;
                    align-items: center;
                }

                @media (min-width: 768px) and (max-width: 1120px) {
                    .btn {
                        height: 58px;
                        width: 172px;
                        margin-left: 20px;
                    }
                }

                @media (max-width: 580px) {
                    .btn {
                        height: 58px;
                        width: 172px;
                        margin-left: 20px;
                    }
                }

                .btn2 {
                    height: 58px;
                    width: 172px;
                    margin-left: 20px;
                    background-color: #ffffff;
                    background-image: url(/img/icon-play.svg);
                    background-position: 30px 50%;
                    background-repeat: no-repeat;
                    font-weight: 700;
                    text-align: right;
                    padding-right: 29px;
                    color: black;
                    border: 0;
                    border-radius: 50px;
                    cursor: pointer;

                    @media (min-width: 768px) and (max-width: 1120px) {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }

                    @media (max-width: 580px) {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

.serve-sect {

    &-header {
        margin-top: 175px;
        margin-bottom: 45px;
        text-align: center;

        .heading {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            line-height: 62px;
            margin-bottom: 10px;
            color: #323232;

            @media (max-width: 768px) {
                font-size: 32px;
            }
        }

        .text {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 27px;
            color: #323232;
        }
    }

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            align-items: center;
            flex-direction: column;
        }

        .col-1{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $orange;
            max-width: 540px;
            margin-right: 30px;
            box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
            border-radius: 10px;

            @media (max-width: 768px) {
                margin-right: 0;
                margin-bottom: 40px;
            }

            .col-img {
                margin-top: 40px;
                margin-bottom: 15px;
                width: 70px;
                height: 70px;
            }

            .title-col {
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 42px;
                line-height: 63px;
                color: white;

                @media (max-width: 768px) {
                    font-size: 32px;
                }
            }

            .text-col {
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 1.15px;
                color: white;
                margin: 1px 88px 25px 88px;
            }

            .btn{
                background-color: white;
                color: $orange;
                margin-bottom: 40px;
            }
        }

        .col-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            max-width: 540px;
            box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
            border-radius: 10px;

            .col-img {
                margin-top: 40px;
                margin-bottom: 15px;
                width: 70px;
                height: 70px;
            }

            .title-col {
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 42px;
                line-height: 63px;
                color: #323232;

                @media (max-width: 768px) {
                    font-size: 32px;
                }
            }

            .text-col {
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 1.15px;
                color: #323232;
                margin: 1px 88px 25px 88px;
            }

            .btn{
                background-color: white;
                color: $orange;
                margin-bottom: 40px;
            }
        }
    }
}

.choose-sect {
    margin-bottom: 110px;

    &-header {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 62px;
        text-align: center;
        letter-spacing: 0.8px;
        color: #323232;
        margin-top: 112px;
        margin-bottom: 60px;

        @media (max-width: 768px) {
            font-size: 32px;
        }
    }

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1150px) {
            align-items: center;
            flex-direction: column;
        }

        .box-choose {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 248px;

            @media (max-width: 1150px) {
                margin-top: 40px;
            }

            &-img {
                width: 70px;
                height: 70px;
                margin-bottom: 15px;
            }

            .title-box {
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 42px;
                text-align: center;
                letter-spacing: 0.5px;
                color: #323232;
                margin-bottom: 2px;
            }

            .text-box {
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 27px;
                text-align: center;
                letter-spacing: 1.15px;
                color: #323232;
            }
        }
    }
}

.words-sect {

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 960px) {
            align-items: center;
            flex-direction: column;
        }

        .col-1 {
            min-height: 250px;

            @media (max-width: 960px) {
                min-height: 100px;
            }
    
            .heading {
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 42px;
                line-height: 62px;
                letter-spacing: 0.8px;
                color: #323232;
                text-align: left;
                margin-top: 60px;

                @media (max-width: 960px) {
                    margin-top: 20px;
                    margin-right: 0;
                    margin-left: 0;
                    text-align: center;
                }

                @media (max-width: 768px) {
                    font-size: 32px;
                }
            }
        }
    
        .col-2 {
            min-height: 250px;

            @media (max-width: 960px) {
                min-height: 100px;
            }
    
            .text {
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 1.15px;
                color: #606060;
                margin-top: 95px;
                margin-right: 20px;
                margin-left: 260px;

                @media (max-width: 960px) {
                    margin: 20px 0 60px 0;
                    text-align: center;
                }
            }
        }
    }
}

.column-sect {

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1200px) {
            align-items: center;
            flex-direction: column;
        }

        .box-word-1 {
            position: relative;
            display: flex;
            flex-direction: column;
            max-width: 350px;
            margin-right: 30px;
            background-color: white;
            border-radius: 0px 0px 5px 5px;

            @media (max-width: 445px) {
                max-width: 240px;
            }

            .words-img {
                max-width: 350px;
                max-height: 204px;

                @media (max-width: 350px) {
                    max-width: 240px;
                }
            }

            .play-img {
                position: absolute;
                top: 134px;
                right: 20px;

                @media (max-width: 445px) {
                    top: 80px;
                    right: 10px;
                    width: 40px;
                    height: 40px;
                }
            }

            .shape-img {
                position: absolute;
                right: -40px;
                top: -40px;
            }

            .word-img {
                max-width: 350px;
                max-height: 204px;
            }

            .word-text1 {
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 1.15px;
                color: #323232;
                margin: 31px 29px 23px 29px;
            }

            .word-text2 {
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: 0.6px;
                color: #323232;
                margin-left: 29px;
                margin-bottom: 2px;
            }

            .word-text3 {
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 1.15px;
                color: $orange;
                margin-left: 29px;
                margin-bottom: 31px;
            }

            .word-text4 {
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 1.15px;
                color: #58BEBF;
                margin-left: 29px;
                margin-bottom: 31px;
            }
        }
    }
}

.expert-sect {
    background-image: url(/img/expert-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    padding: 155px 0 55px;
    margin-top: 100px;

    @media (max-width: 1280px) {
        background-size: cover;
    }

    @media (max-width: 640px) {
        padding-bottom: 0;
        font-size: 0;
    }

    .expert-person {
        position: absolute;
        bottom: 0;
        left: 50%;

        @media (max-width: 1280px) {
            max-height: 50vw;
        }

        @media (max-width: 640px) {
            position: static;
            max-height: none;
            max-width: 100%;
            margin-top: 50px;
        }
    }

    .expert-col {
        max-width: 350px;

        * {
            color: white;
        }
    }

    .btn {
        background-color: white;
        color: $darckgrey;
        margin-top: 30px;
    }
}

footer {
    padding: 85px 0;

    .footer-row {
        display: flex;
    
        .col-1 {
            flex-basis: 40%;
            max-width: 40%;
    
            &-inner {
                max-width: 300px;
            }
        }
    
        .col {
            flex-basis: 20%;
            max-width: 20%;
        }
    
        .footer-heading {
            font-size: 21px;
            color: $darckgrey;
            margin: 0 0 20px;

            @media (max-width: 992px) {
                margin-top: 30px;
            }
        }
    
        .footer-list {
            &-item {
                margin-bottom: 15px;
    
                a {
                    color: $darckgrey;
                    text-decoration: none;
                    font-size: 14px;
                }
            }
        }

        @media (max-width: 992px) {
            flex-direction: column;
        }

        @media (max-width: 576px) {
            .col-1, .col {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }

    .social-links {
        margin-top: 40px;

        a {
            margin-right: 25px;
            font-size: 20px;

            .fa-facebook-square {
                color: #4267B2;
            }

            .fa-twitter {
                color: #1DA1F2;
            }

            .fa-youtube {
                color: #FF0000;
            }

            .fa-linkedin-in {
                color: #006699;
            }
        }
    }
}
