@font-face {
    font-family: "Ubuntu", sans-serif;
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
  }
  @font-face {
    font-family: "UbuntuLight", sans-serif;
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
  }
  @font-face {
    font-family: "UbuntuLightItalic", sans-serif;
    src: url(../fonts/Ubuntu/Ubuntu-LightItalic.ttf);
  }
  @font-face {
    font-family: "UbuntuBold", sans-serif;
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
  }
  @font-face {
    font-family: "UbuntuBoldItalic", sans-serif;
    src: url(../fonts/Ubuntu/Ubuntu-BoldItalic.ttf);
  }