*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: "PoppinsRegular", sans-serif;
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "PoppinsBold", sans-serif;
  src: url(/fonts/Poppins/Poppins-Bold.ttf);
}
* {
  box-sizing: border-box;
}

input {
  font-family: inherit;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

.grey-color {
  position: absolute;
  width: 100%;
  height: 704px;
  background-color: #F5F6FA;
  z-index: -1;
  top: 1970px;
}
@media (max-width: 1184px) {
  .grey-color {
    display: none;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
}
@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
  }
}

.navbar-list {
  display: flex;
}
@media (max-width: 768px) {
  .navbar-list {
    flex-direction: column;
    text-align: center;
    gap: 7px;
  }
}
.navbar-list-item {
  margin-left: 42px;
}
@media (max-width: 992px) {
  .navbar-list-item {
    margin: 0 20px;
  }
}
.navbar-list-item a {
  color: #323232;
  text-decoration: none;
}
.navbar-list-item.active a {
  color: #F78434;
  font-weight: 700;
}

.main-heading {
  color: #323232;
  font-size: 54px;
}
@media (max-width: 768px) {
  .main-heading {
    font-size: 30px;
  }
}

.section-heading {
  font-size: 42px;
  margin: 0;
}

.intro-sect .main-heading {
  width: 680px;
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .intro-sect .main-heading {
    width: auto;
  }
}
.intro-sect .intro-row {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .intro-sect .intro-row {
    flex-direction: column-reverse;
  }
}
.intro-sect .col-1 {
  max-width: 52%;
}
.intro-sect .col-2 {
  max-width: 48%;
}
@media (max-width: 576px) {
  .intro-sect .col-1, .intro-sect .col-2 {
    max-width: 100%;
  }
}
.intro-sect .intro-form {
  overflow: hidden;
  width: 460px;
  position: relative;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .intro-sect .intro-form {
    width: 100%;
  }
}
.intro-sect .intro-form-input {
  border: 0;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  padding: 20px 30px 20px 65px;
  width: 100%;
}
.intro-sect .intro-form-input::-moz-placeholder {
  color: #BBBBBB;
}
.intro-sect .intro-form-input:-ms-input-placeholder {
  color: #BBBBBB;
}
.intro-sect .intro-form-input::placeholder {
  color: #BBBBBB;
}
@media (max-width: 480px) {
  .intro-sect .intro-form-input {
    padding-left: 30px;
  }
}
.intro-sect .intro-form::before {
  content: "";
  background-image: url(/img/Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 20px;
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 480px) {
  .intro-sect .intro-form::before {
    display: none;
  }
}
.intro-sect .intro-form .btn {
  position: absolute;
  right: 0;
  height: 100%;
}
@media (max-width: 1200px) {
  .intro-sect .intro-img {
    max-width: 40vw;
  }
}

.btn {
  display: inline-block;
  background-color: #F78434;
  color: white;
  font-weight: 700;
  padding: 18px 35px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.logo-sect .box-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 99px;
}
@media (max-width: 1024px) {
  .logo-sect .box-logo {
    flex-direction: column;
    align-items: center;
  }
  .logo-sect .box-logo img {
    padding-top: 40px;
    width: 300px;
  }
}

.space-sect {
  margin-top: 100px;
}
.space-sect-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .space-sect-row {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.space-sect-row .col-1 {
  position: relative;
  max-width: 60%;
  max-height: 550px;
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
}
@media (max-width: 1200px) {
  .space-sect-row .col-1 {
    max-width: 100%;
  }
}
.space-sect-row .col-1 .col-img1 {
  height: 550px;
  width: 386px;
  margin-right: 35px;
  margin-left: -165px;
}
.space-sect-row .col-1 .col-img2 {
  height: 550px;
  width: 386px;
  margin-right: 45px;
}
.space-sect-row .col-1-box {
  position: absolute;
  background: white;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  bottom: 87px;
  right: 0;
}
.space-sect-row .col-1-box .box-img {
  margin: 48px 20px 48px 29px;
}
.space-sect-row .col-1-box .col-text {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 29px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
}
.space-sect-row .col-2 {
  max-width: 40%;
  max-height: 550px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .space-sect-row .col-2 {
    max-width: 100%;
  }
}
.space-sect-row .col-2 .title-space {
  margin-top: 80px;
  margin-left: 80px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #323232;
}
@media (max-width: 1200px) {
  .space-sect-row .col-2 .title-space {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .space-sect-row .col-2 .title-space {
    font-size: 32px;
  }
}
.space-sect-row .col-2 .col-text {
  margin-top: 10px;
  margin-left: 80px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
}
@media (max-width: 1200px) {
  .space-sect-row .col-2 .col-text {
    margin: 20px 0 0 0;
  }
}
.space-sect-row .col-2 .form-col {
  margin-left: 80px;
  margin-top: 30px;
}
@media (max-width: 1200px) {
  .space-sect-row .col-2 .form-col {
    margin: 30px 0 30px 0;
  }
}

.image-section {
  position: relative;
}
.image-section .bg-box {
  display: flex;
  position: relative;
  margin: 145px 0 0 0;
  background-color: #58BEBF;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .image-section .bg-box {
    display: flex;
    flex-direction: column-reverse;
  }
}
.image-section .bg-box .oval1 {
  position: absolute;
  top: 0;
  right: 0;
}
.image-section .bg-box .oval2 {
  position: absolute;
  bottom: 0;
  left: calc(100% - 50% - 152px);
}
.image-section .bg-box .left-box-img {
  min-width: 50%;
  margin-top: 60px;
  background-color: #ffffff;
  padding-right: 25px;
  padding-top: 25px;
  border-radius: 0 25px 0 0;
}
@media (min-width: 768px) and (max-width: 1120px) {
  .image-section .bg-box .left-box-img {
    margin-top: 20%;
    margin-bottom: 20%;
    padding-top: 20%;
    padding-bottom: 20%;
    border-radius: 0 25px 25px 0;
  }
}
@media (max-width: 767px) {
  .image-section .bg-box .left-box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
  }
}
.image-section .bg-box .right-box {
  min-width: 50%;
}
.image-section .bg-box .right-box .title-rbox {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  padding: 92px 117px 15px 96px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .image-section .bg-box .right-box .title-rbox {
    font-size: 32px;
  }
}
.image-section .bg-box .right-box .text-rbox {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  padding: 0 117px 30px 96px;
}
.image-section .bg-box .right-box .form-rbox {
  display: flex;
  margin-left: 96px;
}
@media (min-width: 768px) and (max-width: 1120px) {
  .image-section .bg-box .right-box .form-rbox {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .image-section .bg-box .right-box .form-rbox {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
  .image-section .bg-box .right-box .form-rbox .btn {
    height: 58px;
    width: 172px;
    margin-left: 20px;
  }
}
@media (max-width: 580px) {
  .image-section .bg-box .right-box .form-rbox .btn {
    height: 58px;
    width: 172px;
    margin-left: 20px;
  }
}
.image-section .bg-box .right-box .form-rbox .btn2 {
  height: 58px;
  width: 172px;
  margin-left: 20px;
  background-color: #ffffff;
  background-image: url(/img/icon-play.svg);
  background-position: 30px 50%;
  background-repeat: no-repeat;
  font-weight: 700;
  text-align: right;
  padding-right: 29px;
  color: black;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1120px) {
  .image-section .bg-box .right-box .form-rbox .btn2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 580px) {
  .image-section .bg-box .right-box .form-rbox .btn2 {
    margin-top: 20px;
  }
}

.serve-sect-header {
  margin-top: 175px;
  margin-bottom: 45px;
  text-align: center;
}
.serve-sect-header .heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  margin-bottom: 10px;
  color: #323232;
}
@media (max-width: 768px) {
  .serve-sect-header .heading {
    font-size: 32px;
  }
}
.serve-sect-header .text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #323232;
}
.serve-sect-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .serve-sect-row {
    align-items: center;
    flex-direction: column;
  }
}
.serve-sect-row .col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F78434;
  max-width: 540px;
  margin-right: 30px;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .serve-sect-row .col-1 {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
.serve-sect-row .col-1 .col-img {
  margin-top: 40px;
  margin-bottom: 15px;
  width: 70px;
  height: 70px;
}
.serve-sect-row .col-1 .title-col {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 63px;
  color: white;
}
@media (max-width: 768px) {
  .serve-sect-row .col-1 .title-col {
    font-size: 32px;
  }
}
.serve-sect-row .col-1 .text-col {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: white;
  margin: 1px 88px 25px 88px;
}
.serve-sect-row .col-1 .btn {
  background-color: white;
  color: #F78434;
  margin-bottom: 40px;
}
.serve-sect-row .col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 540px;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.serve-sect-row .col-2 .col-img {
  margin-top: 40px;
  margin-bottom: 15px;
  width: 70px;
  height: 70px;
}
.serve-sect-row .col-2 .title-col {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 63px;
  color: #323232;
}
@media (max-width: 768px) {
  .serve-sect-row .col-2 .title-col {
    font-size: 32px;
  }
}
.serve-sect-row .col-2 .text-col {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
  margin: 1px 88px 25px 88px;
}
.serve-sect-row .col-2 .btn {
  background-color: white;
  color: #F78434;
  margin-bottom: 40px;
}

.choose-sect {
  margin-bottom: 110px;
}
.choose-sect-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #323232;
  margin-top: 112px;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .choose-sect-header {
    font-size: 32px;
  }
}
.choose-sect-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1150px) {
  .choose-sect-row {
    align-items: center;
    flex-direction: column;
  }
}
.choose-sect-row .box-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 248px;
}
@media (max-width: 1150px) {
  .choose-sect-row .box-choose {
    margin-top: 40px;
  }
}
.choose-sect-row .box-choose-img {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}
.choose-sect-row .box-choose .title-box {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #323232;
  margin-bottom: 2px;
}
.choose-sect-row .box-choose .text-box {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
  color: #323232;
}

.words-sect-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 960px) {
  .words-sect-row {
    align-items: center;
    flex-direction: column;
  }
}
.words-sect-row .col-1 {
  min-height: 250px;
}
@media (max-width: 960px) {
  .words-sect-row .col-1 {
    min-height: 100px;
  }
}
.words-sect-row .col-1 .heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #323232;
  text-align: left;
  margin-top: 60px;
}
@media (max-width: 960px) {
  .words-sect-row .col-1 .heading {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .words-sect-row .col-1 .heading {
    font-size: 32px;
  }
}
.words-sect-row .col-2 {
  min-height: 250px;
}
@media (max-width: 960px) {
  .words-sect-row .col-2 {
    min-height: 100px;
  }
}
.words-sect-row .col-2 .text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #606060;
  margin-top: 95px;
  margin-right: 20px;
  margin-left: 260px;
}
@media (max-width: 960px) {
  .words-sect-row .col-2 .text {
    margin: 20px 0 60px 0;
    text-align: center;
  }
}

.column-sect-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .column-sect-row {
    align-items: center;
    flex-direction: column;
  }
}
.column-sect-row .box-word-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-right: 30px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}
@media (max-width: 445px) {
  .column-sect-row .box-word-1 {
    max-width: 240px;
  }
}
.column-sect-row .box-word-1 .words-img {
  max-width: 350px;
  max-height: 204px;
}
@media (max-width: 350px) {
  .column-sect-row .box-word-1 .words-img {
    max-width: 240px;
  }
}
.column-sect-row .box-word-1 .play-img {
  position: absolute;
  top: 134px;
  right: 20px;
}
@media (max-width: 445px) {
  .column-sect-row .box-word-1 .play-img {
    top: 80px;
    right: 10px;
    width: 40px;
    height: 40px;
  }
}
.column-sect-row .box-word-1 .shape-img {
  position: absolute;
  right: -40px;
  top: -40px;
}
.column-sect-row .box-word-1 .word-img {
  max-width: 350px;
  max-height: 204px;
}
.column-sect-row .box-word-1 .word-text1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #323232;
  margin: 31px 29px 23px 29px;
}
.column-sect-row .box-word-1 .word-text2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #323232;
  margin-left: 29px;
  margin-bottom: 2px;
}
.column-sect-row .box-word-1 .word-text3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #F78434;
  margin-left: 29px;
  margin-bottom: 31px;
}
.column-sect-row .box-word-1 .word-text4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #58BEBF;
  margin-left: 29px;
  margin-bottom: 31px;
}

.expert-sect {
  background-image: url(/img/expert-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  padding: 155px 0 55px;
  margin-top: 100px;
}
@media (max-width: 1280px) {
  .expert-sect {
    background-size: cover;
  }
}
@media (max-width: 640px) {
  .expert-sect {
    padding-bottom: 0;
    font-size: 0;
  }
}
.expert-sect .expert-person {
  position: absolute;
  bottom: 0;
  left: 50%;
}
@media (max-width: 1280px) {
  .expert-sect .expert-person {
    max-height: 50vw;
  }
}
@media (max-width: 640px) {
  .expert-sect .expert-person {
    position: static;
    max-height: none;
    max-width: 100%;
    margin-top: 50px;
  }
}
.expert-sect .expert-col {
  max-width: 350px;
}
.expert-sect .expert-col * {
  color: white;
}
.expert-sect .btn {
  background-color: white;
  color: #323232;
  margin-top: 30px;
}

footer {
  padding: 85px 0;
}
footer .footer-row {
  display: flex;
}
footer .footer-row .col-1 {
  flex-basis: 40%;
  max-width: 40%;
}
footer .footer-row .col-1-inner {
  max-width: 300px;
}
footer .footer-row .col {
  flex-basis: 20%;
  max-width: 20%;
}
footer .footer-row .footer-heading {
  font-size: 21px;
  color: #323232;
  margin: 0 0 20px;
}
@media (max-width: 992px) {
  footer .footer-row .footer-heading {
    margin-top: 30px;
  }
}
footer .footer-row .footer-list-item {
  margin-bottom: 15px;
}
footer .footer-row .footer-list-item a {
  color: #323232;
  text-decoration: none;
  font-size: 14px;
}
@media (max-width: 992px) {
  footer .footer-row {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  footer .footer-row .col-1, footer .footer-row .col {
    flex-basis: 100%;
    max-width: 100%;
  }
}
footer .social-links {
  margin-top: 40px;
}
footer .social-links a {
  margin-right: 25px;
  font-size: 20px;
}
footer .social-links a .fa-facebook-square {
  color: #4267B2;
}
footer .social-links a .fa-twitter {
  color: #1DA1F2;
}
footer .social-links a .fa-youtube {
  color: #FF0000;
}
footer .social-links a .fa-linkedin-in {
  color: #006699;
}/*# sourceMappingURL=style.css.map */