@media (min-width: 768px) {
    #wrapper {
        margin: 35px;
    }
    .inline-block .col {
        height: 400px;
        margin: 5px 5px 35px 5px;
        padding: 20px;
    }
    .col h2 {
        font-size: 45px;
        padding-top: 20px;
    }
    .col p {
        font-size: 30px;
        padding-top: 10px;
    }
    .clearfix {
        padding-bottom: 5px;
        margin: 5px 5px 5px 5px;
        background-color: rgb(255, 255, 255);
    }
    .clearfix h2 {
        font-size: 45px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .clearfix p {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    .navigation {
        padding: 20px;
    }
    .navigation li {
        height: 90px;
        font-size: 30px;
        padding: 20px;
    }
    .navigation h2 {
        font-size: 45px;
        padding-bottom: 15px;
        padding-left: 0;
        padding-top: 0;
    }
}
@media (min-width: 1024px) {
    #wrapper {
        margin: 35px 100px 35px 100px;
    }
    .inline-block {
        margin: 0;
    }
    .inline-block .col {
        height: 300px;
        width: calc(100vw / 3 - 95px);
        min-width: 240px;
        vertical-align: top;
        margin: 0 10px 10px;
        padding: 20px;
    }
    .col h2 {
        font-size: 30px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .col p {
        font-size: 15px;
    }
    .clearfix {
        margin: 10px 10px 5px 10px;
        background-color: rgb(255, 255, 255);
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: block;
    }
    .clearfix h2 {
        font-size: 30px;
    }
    .clearfix p {
        font-size: 15px;
    }
    .navigation {
        width: 400px;
        float: right;
    }
    .navigation li {
        font-size: 20px;
    }
    .navigation h2 {
        font-size: 30px;
    }
}