@font-face {
    font-family: "Roboto", sans-serif;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
   }
@font-face {
    font-family: "RobotoThin", sans-serif;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
   }
@font-face {
    font-family: "RobotoBlack", sans-serif;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
   }